assets/map/atlas/tuxemon-misa/misa-right-walk.000.png
assets/map/tilemaps/new-tuxemon-town.tmx
assets/map/tilemaps/new-tuxemon-town.json
assets/map/tilemaps/map - Shortcut.lnk
assets/map/atlas/tuxemon-misa/misa-left-walk.002.png
assets/map/tilemaps/catastrophi_level3.csv
assets/map/atlas/tuxemon-misa/misa-right.png
assets/map/atlas/tuxemon-misa/misa-right-walk.003.png
assets/map/atlas/tuxemon-misa/misa-right-walk.002.png
assets/map/atlas/tuxemon-misa/misa-right-walk.001.png
assets/map/atlas/tuxemon-misa/misa-left.png
assets/map/atlas/tuxemon-misa/misa-left-walk.003.png
assets/map/atlas/tuxemon-misa/misa-left-walk.001.png
assets/map/atlas/tuxemon-misa/misa-left-walk.000.png
assets/map/atlas/tuxemon-misa/misa-front.png
assets/map/atlas/tuxemon-misa/misa-front-walk.003.png
assets/map/atlas/tuxemon-misa/misa-front-walk.002.png
assets/map/atlas/tuxemon-misa/misa-front-walk.001.png
assets/map/atlas/tuxemon-misa/misa-front-walk.000.png
assets/map/atlas/tuxemon-misa/misa-back.png
assets/map/atlas/tuxemon-misa/misa-back-walk.003.png
assets/map/atlas/tuxemon-misa/misa-back-walk.002.png
assets/map/atlas/atlas.json
assets/map/atlas/atlas.png
assets/map/atlas/atlas.tps
assets/map/atlas/tuxemon-misa/misa-back-walk.000.png
assets/map/atlas/tuxemon-misa/misa-back-walk.001.png
assets/map/tilesets/catastrophi_tiles_16_blue.png
assets/map/tilesets/super-mario-nes-arrow-32px.png
assets/map/tilesets/super-mario-tiles.png
assets/map/tilesets/tuxmon-sample-32px-extruded.png
assets/map/tilesets/tuxmon-sample-32px.png
assets/map/tilesets/tuxmon-sample.png
assets/map/tilesets/super-mario-nes-arrow.png
assets/map/tilesets/tuxmon-sample.psd
